body{
    margin: 0;
    padding: 0;

}

section {
    background-image: url("img/lyon2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}


*{
    box-sizing: "border-box";
}

/* ---------------------------- Mon header ----------------------------- */
header{
    display: flex;
    justify-content: flex-start;
    width:100%;
    background: white;
    height: 100px;
    /*opacity: 0.4;*/
    position: fixed;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

img{
    position: relative;
    top: 7px;
    /*display: none;*/
}

.img{
    width: 269px;
    height: 155px;
    margin: auto;
}

.meetUp{ 
    display:flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
    margin: 100px; 

   } 
    
h1{ 
    text-align: center; 
    font-size: 60px; 
    margin-top: 5px;
    margin-left: 567px;
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    color:#f4000d; 
}

h2{ 
    font-family: 'Oswald', sans-serif;
    color:#1d48aa; 
    text-align: center; 
    font-size: 30px; 
} 

h3{
    font-family: 'Raleway', sans-serif;
}

/* hr{
    border: 1px solid rgba(71, 71, 71, 0.493);

} */

p{
    font-family: 'Raleway', sans-serif; 
    font-size: 13px;
    font-weight: 700;  
}
/* -------------                 Mes formulaires                   ---------- */

.meetupsForm{
    display: none;

}

.speakersForm{
    display:none
}

.subscribersForm{
    display:none;
} 

input{
    height: 30px;
    width: 200px;
    cursor: pointer;
    margin-left: 7px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input.edit{
    display: block;
    width: 500px;
    height: 30px;
    margin: auto;
    margin-top: 38px;
}

/* --------------------------- Mes boutons d'affichage en JS-------------------------------- */
.small-nav{
    margin-top: 200px;
    width: 100%;
    height: 200px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

button.trash{
    /*background-image: url("img/trash.jpg");*/
    cursor: pointer;
    background-color: #1d48aa;
    color: white;
    height: 33px;
}

button.edit{
    cursor: pointer;
    float: left;
    background-color: #1d48aa;
    color: white;
    height: 33px;
}

.buttonMeetups{
    width: 110px; 
    height: 110px;
    border: 5px solid white;
    border-radius: 100%;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.buttonSpeakers{
    width: 90px; 
    height: 90px;
    border-radius: 100%;
    border: 5px solid white;
    cursor: pointer;
    margin: 14px 14px 14px 500px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.buttonSubscribers{
    width: 90px; 
    height: 90px;
    border-radius: 100%;
    border: 5px solid white;
    cursor: pointer;
    margin: 14px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*----------------------Div d'édition---------------------*/

.edition{
    background: rgba(37, 37, 37, 0.7);
    margin: auto;
    display: none;
    z-index: 3;
}

.form-edition {
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 118px auto;
    border-radius: 1%;
}


.close:before {
    content: 'X';
    color: #fff;
}

.close {
    border-radius: 100%;
    background-color: rgba(65, 65, 65, 0.9);
    padding: 2px;
    color: white;
    text-decoration: none;
    color: #777;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    padding: 2px 5px;
    position: relative;
    bottom: 27px;
    right: 28px;
}


/* ---------- Colonnes où l'on ajoute nos données en php Myadmin ------------ */

.meetup{ 
    width: 290px; 
    /*height: 500px;*/
    padding: 0 20px 0 20px;
    /*background: grey;*/ 
    border: 1.5px solid #f4000d;
    background: white; 
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
} 

.subscriber{ 
    width: 290px; 
    /*height: 500px;*/
    padding: 0 20px 0 20px;
    /*background: grey;*/ 
    border: 1.5px solid #f4000d; 
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
} 

.speaker{ 
    width: 290px; 
    /*height: 500px;*/
    padding: 0 20px 0 20px;
    /*background: grey;*/ 
    border: 1.5px solid #f4000d;
    background: white; 
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* ----------------------- */